@page "/CadastrarTurma"
@inject TurmaAPI turmaAPI
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro da Turma</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Modalidade"
                      Variant="Variant.Text"
                      @bind-Value="modalidade"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Professor"
                         Variant="Variant.Text"
                         @bind-Value="professor"
                         Lines="1"
                         Required="true"
                         RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Horário"
                      Variant="Variant.Text"
                      @bind-Value="horario"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <MudTextField Class="mt-4" T="string" Placeholder="Letra da Turma"
                      Variant="Variant.Text"
                      @bind-Value="letra"
                      Required="true"
                      RequiredError="Campo obrigatório." />

        <div class="d-flex align-center justify-space-between mt-4">
            <MudButton Variant="Variant.Filled"
                       @onclick="Cadastrar"
                       Color="Color.Primary"
                       Class="ml-auto">
                Cadastrar
            </MudButton>
        </div>

    </MudForm>
</MudPaper>


@code {

    private string? modalidade;
    private string? professor;
    private string? horario;
    private string? letra;

    private async Task Cadastrar()
    {
        var request = new TurmaRequest(modalidade!, professor!, horario!, letra!);
        await turmaAPI.AddTurmaAsync(request);
        navigationManager.NavigateTo("/Turmas");
    }

}